<ul class="nav flex-column">
    <li>
        <span>Elementary Data Structures</span>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/dataStructures/queue">Queue</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/dataStructures/stack">Stack</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/dataStructures/linkedList">Linked List</a>
    </li>
</ul>