<ul class="nav flex-column">
    <li>
        <span>Elementary Data Structures</span>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/dataStructures/stack?description=true">Stack</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/dataStructures/queue?description=true">Queue</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/dataStructures/linkedList?description=true">Linked List</a>
    </li>
</ul>