<nav class="navbar navbar-toggleable-md bg-dark">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="#" class="logo">Algorithm Visualizer</a>
    <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/dataStructures">Data Structures</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sortingAlgorithms">Sorting Algorithms</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="/searchingAlgorithms">Searching Algorithms</a>
            </li>  
        </ul>
    </div>
</nav>