<ul class="nav flex-column">
    <li>
        <span>Searching Algorithms</span>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/searchingAlgorithms/BFS?description=true">
            BFS
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/searchingAlgorithms/DFS?description=true">
            DFS
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/searchingAlgorithms/branchAndBound?description=true">
            Branch And Bound
        </a>
    </li>
    <li>
        <a class="nav-link" href="/searchingAlgorithms/hillClimbing?description=true">
            Hill Climbing    
        </a>
    </li>
    <li>
        <a class="nav-link" href="/searchingAlgorithms/dijkstra?description=true">
            Dijkstra Algorithm
        </a>
    </li>
     <li>
        <a class="nav-link" href="/searchingAlgorithms/optimal?description=true">
           Optimal
        </a>
    </li>
    <li>
        <a class="nav-link" href="/searchingAlgorithms/aStar?description=true">
           A*
        </a>
    </li>
</ul>