{{> nav }}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <a href="/dataStructures/binarySearchTree?description=true">
                Description
            </a>
            <a href="/dataStructures/binarySearchTree?visualRepresentation=true">
                Visual Representation
            </a>
        </div>
    </div>
    {{#if mode.description}}
    <div class="row">
        <div class="col-md-2">
           {{> dsSidebar}}
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12">
                    <h3>Binary Search Tree</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Binary Search Tree is a binary tree in which 
                        any left child key in a subtree is 
                        smaller than node's key, and any right child of 
                        a subtree is greater than node's key. And the left
                        and right subtree is also have to be a binary tree.
                    </p>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

    {{#if mode.visualRepresentation}}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                     <canvas id="dataStructuresCanvas"></canvas>
                </div>
                <div class="col-md-4">
                    <canvas id="codeCanvas"></canvas>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</div>