body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  background-color: #030f1c;
}

nav a {
  color: #bbc5d1;
}

nav a:hover {
  color: #909eac;
  text-decoration: none;
}

.navbar a.logo {
  text-decoration: none;
  color: #bbc5d1;
  width: 100%;
}

.navbar a.logo:hover {
  color: #bbc5d1;
}

