{{> nav }}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Linked List</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <a href="/dataStructures/linkedList?description=true">
                Description
            </a>
            <a href="/dataStructures/linkedList?visualRepresentation=true">
                Visual Representation
            </a>
        </div>
    </div>
    {{#if mode.description}}
    <div class="row">
        <div class="col-md-2">
           {{> dsSidebar}}
        </div>
        <div class="col-md-10">
            description block
        </div>
    </div>
    {{/if}}

    {{#if mode.visualRepresentation}}
    <div class="row">
        <div class="col-md-2">
           {{> dsSidebar}}
        </div>
        <div class="col-md-10">
            visual Representation block
        </div>
    </div>
    {{/if}}
</div>