{{> nav }}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <a href="/dataStructures/linkedList?description=true">
               Description
            </a>
            <a href="/dataStructures/linkedList?visualRepresentation=true">
                Visual Representation
            </a>
        </div>
    </div>
    {{#if mode.description}}
    <div class="row">
        <div class="col-md-2">
           {{> dsSidebar}}
        </div>
        <div class="col-md-10">
            <div class="row">
               <div class="col-md-12">
                   <h3>Linked List</h3>
               </div>
           </div>
           <div class="row">
               <div class="col-md-12">
                   <p>
                        Linked List is a data structure in which the objects set
                        in a linear order. The order of a linked list is determined 
                        by a pointer in each object.
                   </p>
               </div>
           </div>
        </div>
    </div>
    {{/if}}

    {{#if mode.visualRepresentation}}
    <div class="row">
        <div class="col-md-2">
           {{> dsSidebar}}
        </div>
        <div class="col-md-10">
            visual Representation block
        </div>
    </div>
    {{/if}}
</div>