{{> nav }}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <a href="/dataStructures/queue?description=true">
                Description
            </a>
            <a href="/dataStructures/queue?visualRepresentation=true">
                Visual Representation
            </a>
        </div>
    </div>
    {{#if mode.description}}
    <div class="row">
        <div class="col-md-2">
           {{> dsSidebar}}
        </div>
        <div class="col-md-10">
            <div class="row">
               <div class="col-md-12">
                   <h3>Queue</h3>
               </div>
           </div>
            Queue is a dynamic set that is similar to stack but uses different ends for 
            INSERTION and DELETION. When element is enqueuered (inserted) it is
            takes place at the tail of a queue
            and when element is dequeuered (deleted) it is takes place at the head of the queue.
            Consequently, a queue is follow a Fist-In First-Out policy also refered as FIFO.     
        </div>
    </div>
    {{/if}}

    {{#if mode.visualRepresentation}}
    <div class="row">
        <div class="col-md-2">
           {{> dsSidebar}}
        </div>
        <div class="col-md-10">
            visual Representation block
        </div>
    </div>
    {{/if}}
</div>