{{> nav }}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <a href="/dataStructures/stack?description=true">
                Description
            </a>
            <a href="/dataStructures/stack?visualRepresentation=true">
                Visual Representation
            </a>
        </div>
    </div>
    {{#if mode.description}}
    <div class="row">
        <div class="col-md-2">
           {{> dsSidebar}}
        </div>
        <div class="col-md-10">
           <div class="row">
               <div class="col-md-12">
                   <h3>Stack</h3>
               </div>
           </div>
           <div class="row">
               <div class="col-md-12">
                   <p>
                       Stack is a dynamic set in which latest inserted element deletes first.
                       It demonstrates a last in, first out (LIFO) policy. In stack 
                       the INSERT operation called PUSH, and DELETE operation called POP. 
                   </p>
               </div>
           </div>
        </div>
    </div>
    {{/if}}

    {{#if mode.visualRepresentation}}
    <div class="row">
        <div class="col-md-2">
           {{> dsSidebar}}
        </div>
        <div class="col-md-10">
            visual Representation block
        </div>
    </div>
    {{/if}}
</div>