{{> nav }}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Data Structures</h1>
        </div>
    </div>
    {{#if description}}
    <div class="row">
        <div class="col-md-1">
           <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Queue</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Stack</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Linked List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tree</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Graph</a>
                </li>
            </ul>
        </div>
        <div class="col-md-11">
            description block
        </div>
    </div>
    {{/if}}
</div>

