{{> nav }}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Data Structures</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
           {{> dsSidebar}}
        </div>
        <div class="col-md-10">
            description block
        </div>
    </div>
</div>

